{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row home-margin">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
            <p class="title-name mb-0">Murray Bealby</p>
            <p class="title-role">Full Stack Software Developer</p>
            <div class="live-icons mt-4">
                <a href="{% url 'projects' %}">Check out my Portfolio &nbsp;&nbsp;<i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

</section>


{% endblock %}