{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row page-top-margin">
        <div class="col">
            <p class="title-header mb-0">Portfolio</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row page-top-margin">
        {% for project in projects %}
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="flip-card portfolio-margin d-none d-sm-block">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{ project.image.url }}" alt="Project - {{ project.name }}"
                            class="img-fluid text-center">
                    </div>
                    <div class="flip-card-back">
                        <img src="{{ project.image.url }}" alt="Project - {{ project.name }}"
                            class="img-fluid text-center">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}