{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row title-section-top-margin">
        <div class="col">
            <p class="title-header mb-0">{{ project.name }}</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <p>{{ project.code }}</p>
            <img src="{{ project.image_mockup.url }}" width=600 height=400 alt="Mockup - {{ project.name }}"
                class="img-fluid">
        </div>
    </div>
</section>

{% endblock %}