{% extends "base.html" %}
{% load static %}

{% block content %}

<!---Page Title--->

<section class="container">
    <div class="row title-section-top-margin">
        <div class="col">
            <p class="title-header mb-0">Portfolio</p>
        </div>
    </div>
</section>

<!---Project cards--->

<section class="container">
    <div class="row flip-card-section-top-margin">
        {% for project in projects|dictsort:"position" %}

        <!---Flip-card for md/lg devices--->
        <div class="col-sm-6 col-md-6 col-lg-4 d-none d-sm-block">
            <div class="flip-card portfolio-margins">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{ project.image_front.url }}" width=600 height=400 alt="Project - {{ project.name }}"
                            class="img-fluid text-center">
                    </div>
                    <div class="flip-card-back">
                        <a href="{% url 'project_detail' project.id %}">
                            <p class="flip-card-title text-center text-flip-card-margin">{{ project.name }}</p>
                            <p class="flip-card-code text-center">{{ project.code }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!---Remove flip-card for smaller devices. Static images.--->
        <div class="col-12 d-block d-sm-none">
            <div class="portfolio-margins-mb flip-card-mb">
                <a href="{% url 'project_detail' project.id %}">
                    <img src="{{ project.image_front.url }}" width=600 height=400 alt="Project - {{ project.name }}"
                        class="img-fluid">
                    <div class="content-bg-mb">
                        <p class="flip-card-title-mb text-center pt-2 mb-1">{{ project.name }}</p>
                        <p class="flip-card-code-mb text-center pb-2">{{ project.code }}</p>
                    </div>
                </a>
            </div>
        </div>

        {% endfor %}
    </div>
</section>

<!---Page margin--->

<section class="container">
    <div class="row project-page-margin">
        <div class="col-12">
        </div>
    </div>
</section>

{% endblock %}