{% extends "base.html" %}
{% load static %}

{% block content %}

<!---Page Title--->

<section class="container">
    <div class="row title-section-top-margin content-margin">
        <div class="col-12">
            <p class="title-header mb-1">{{ project.name }}</p>
        </div>
        <div class="col-12">
            <p>{{ project.code }}</p>
        </div>
        <div class="col-12 live-icons">
            <a href="{{ project.website }}" target="_blank"><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;Live</a>
            {% if project.github %}
            <a href="{{ project.github }}" target="_blank"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;Github</a>
            {% endif %}
            <a href="{% url 'projects' %}"><i class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;Portfolio</a>
        </div>
    </div>
</section>

<!---Project detail page--->

<section class="container">
    <div class="row content-margin">
        <div class="col-md-6 project-detail-description-margin d-none d-md-block">
            <p class="detail-description">{{ project.description|linebreaksbr }}</p>
            {% if project.crud %}
            <p>{{ project.crud }}</p>
            {% endif %}
            <p><span style="padding-right: 0.4em">SEO</span><i class="fa-solid fa-check"></i><span
                    style="padding-left: 1em; padding-right: 0.4em">Code Validation</span><i
                    class="fa-solid fa-check"></i><span style="padding-left: 1em; padding-right: 0.4em">Clean
                    Code</span><i class="fa-solid fa-check"></i>
            </p>
        </div>
        <div class="col-md-6 project-detail-description-margin d-none d-md-block">
            <img src="{{ project.image_mockup.url }}" width=600 height=400 alt="Mockup - {{ project.name }}"
                class="img-fluid">
        </div>
        <div class="col-sm-12 project-detail-description-margin d-md-none">
            <img src="{{ project.image_mockup.url }}" width=600 height=400 alt="Mockup - {{ project.name }}"
                class="img-fluid">
        </div>
        <div class="col-sm-12 project-detail-description-margin d-md-none">
            <p class="detail-description">{{ project.description|linebreaksbr }}</p>
            {% if project.crud %}
            <p class="mb-1">{{ project.crud }}</p>
            {% endif %}
            {% if project.api %}
            <p class="mb-1">{{ project.api }}</p>
            {% endif %}
            <p class="mb-1"><span style="padding-right: 0.3em">SEO</span><i class="fa-solid fa-check"></i></p>
            <p class="mb-1"><span style="padding-right: 0.3em">Code Validation</span><i class="fa-solid fa-check"></i>
            </p>
            <p class="mb-1"><span style="padding-right: 0.3em">Clean Code</span><i class="fa-solid fa-check"></i></p>
            </p>
        </div>
</section>

<!---Page margin--->

<section class="container">
    <div class="row project-detail-page-margin">
        <div class="col-12">
        </div>
    </div>
</section>

{% endblock %}