{% load static %}

<div id="footer" class="container-fluid footernav">
    <div class="row">
        <div class="col-12 footer-links text-center">
            <a href="https://www.linkedin.com/in/murray-bealby-46953136/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://github.com/Bealby" target="_blank"><i
                    class="fa-brands fa-github"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        </div>
        <div class="col-12" id="footer-copyright">
            <p>Copyright <i class="far fa-copyright"></i> 2023 Murray Bealby. All Rights Reserved. Django/ Python</p>
        </div>
    </div>
</div>