{% load static %}

<!---Navbar Desktop-->

<nav class="navbar justify-content-end topnav">
    <a class="nav-link nav-text" href="{% url 'home' %}">Home</a>
    <a class="nav-link nav-text" href="{% url 'about' %}">About</a>
    <a class="nav-link nav-text" href="{% url 'projects' %}">Portfolio</a>
</nav>


<!---The code below searches for the href of the active page
    in the list elements < a >. Then adds the class "active"
    with addClass('active') to the active pages < a > so that
    you can now call it via CSS. Put this code in the head of
    your html file. -->

<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>