{% load static %}

<!---Navbar Mobile-->
<div class="d-sm-none">
    <input type="checkbox" id="toggle" class="input-toggler">
    <label for="toggle" class="menu-toggler">
        <span class="menu-toggler-line"></span>
        <span class="menu-toggler-line"></span>
        <span class="menu-toggler-line"></span>
    </label>

    <nav class="sidebar">
        <ul>
            <li><a class="menu-link" href="{% url 'home' %}">Home</a></li>
            <li><a class="menu-link" href="{% url 'about' %}">About</a></li>
            <li><a class="menu-link" href="{% url 'projects' %}">Portfolio</a></li>
        </ul>
    </nav>
</div>