{% load static %}

<!---Navbar Mobile-->
<div class="d-md-none">
    <input type="checkbox" id="toggle" class="input-toggler">
    <label for="toggle" class="menu-toggler">
        <span class="menu-toggler-line"></span>
        <span class="menu-toggler-line"></span>
        <span class="menu-toggler-line"></span>
    </label>

    <nav class="sidebar">
        <ul class="menu">
            <li><a class="menu-link" href="#">Home</a></li>
            <li><a class="menu-link" href="#">Blog</a></li>
            <li><a class="menu-link" href="#">Portfolio</a></li>
            <li><a class="menu-link" href="#">About</a></li>
            <li><a class="menu-link" href="#">Contact</a></li>
        </ul>
    </nav>
</div>