{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid">

    <div class="row">
        <!---Content 1--->
        <div class="col">
            <div class="col-12 col-md-8 offset-md-2 text-center mt-5">
                <p class="title-header text-uppercase mt-5 mb-0">
                    404 ERROR
                </p>
                <p class="detail-description">
                    The page you are looking for can't be found
                </p>
                <div class="col-12 live-icons">
                    <a href="{% url 'home' %}"><i class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;Home</a>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}