{% extends "base.html" %}
{% load static %}

{% block content %}

<!---Page Title--->

<section class="container">
    <div class="row title-section-top-margin content-margin">
        <div class="col">
            <p class="title-header mb-1">About</p>
        </div>
        <div class="col-12 footer-links">
            <a href="https://www.linkedin.com/in/murray-bealby-46953136/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://github.com/Bealby" target="_blank"><i
                    class="fa-brands fa-github"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% static 'documents/murray_bealby.pdf' %}" target="_blank">Download my CV&nbsp;&nbsp;<i
                    class="fa-solid fa-download"></i></a>
        </div>
        <div class="col-12 live-icons">
            {% if about.cert %}
            <a href="{{ about.cert }}" target=" _blank"><i
                    class="fa-solid fa-certificate"></i>&nbsp;&nbsp;Certificate</a>
            {% endif %}
            <a href="{% url 'projects' %}">Check out my Portfolio&nbsp;&nbsp;<i
                    class="fa-solid fa-chevron-right"></i></a>
        </div>
</section>

<!---About page content--->
{% for about in about %}
<section class="container">
    <div class="row content-margin">
        <div class="col-md-6 about-detail-description-margin">
            <p class="detail-description">{{ about.description_1|linebreaksbr }}</p>
        </div>
        <div class="col-md-6 about-detail-description-margin">
            <p class="detail-description">{{ about.description_2|linebreaksbr }}</p>
        </div>
        <div class="col-12 about-detail-description-margin mt-4">
            <p class="title-header-2">Hobbies</p>
        </div>
        <div class="col-md-6 about-detail-description-margin">
            <ul class="about-list">
                <div class="row mb-3">
                    <div class="col-2">
                        <li><i class="fa-solid fa-book-open"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="detail-description">{{ about.hobby_1 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <li><i class="fa fa-futbol"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="detail-description">{{ about.hobby_2 }}</p>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-6 about-detail-description-margin">
            <ul class="about-list">
                <div class="row mb-3">
                    <div class="col-2">
                        <li><i class="fa-solid fa-person-hiking"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="detail-description">{{ about.hobby_3 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <li><i class="fa-solid fa-person-running"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="detail-description">{{ about.hobby_4 }}</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
{% endfor %}

<!---Page margin--->

<section class="container">
    <div class="row about-page-margin">
        <div class="col-12">
        </div>
    </div>
</section>

{% endblock %}