{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row title-section-top-margin">
        <div class="col">
            <p class="title-header mb-0">About</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row about-section-top-margin">
        <div class="col-12 footer-links">
            <a href="https://www.linkedin.com/in/murray-bealby-46953136/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://github.com/Bealby" target="_blank"><i
                    class="fa-brands fa-github"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% static 'documents/murray_bealby.pdf' %}" target="_blank">Download my CV&nbsp;&nbsp;<i
                    class="fa-solid fa-download"></i></a>
        </div>
    </div>
</section>

{% endblock %}