{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row title-section-top-margin">
        <div class="col">
            <p class="title-header mb-1">About</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row content-margin">
        <div class="col-12 footer-links">
            <a href="https://www.linkedin.com/in/murray-bealby-46953136/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://github.com/Bealby" target="_blank"><i
                    class="fa-brands fa-github"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% static 'documents/murray_bealby.pdf' %}" target="_blank">Download my CV&nbsp;&nbsp;<i
                    class="fa-solid fa-download"></i></a>
        </div>
        <div class="col-md-6 about-detail-description-margin">
            <p class="about-detail-description">Highly driven and motivated, I readily adapt to different situations
                and thrive on delivery, success and attention to
                detail. An excellent team player, who is also self-motivated and self-reliant, who strives to improve
                and develop
                designs and systems.</p>
            <p class="about-detail-description">Highly driven and motivated, I readily adapt to different situations
                and thrive on delivery, success and attention to
                detail. An excellent team player, who is also self-motivated and self-reliant, who strives to improve
                and develop
                designs and systems.</p>
            <p class="about-detail-description">Highly driven and motivated, I readily adapt to different situations
                and thrive on delivery, success and attention to
                detail. An excellent team player, who is also self-motivated and self-reliant, who strives to improve
                and develop
                designs and systems.</p>
        </div>
        <div class="col-md-6 about-detail-description-margin">
            <p class="about-detail-description">Highly driven and motivated, I readily adapt to different situations
                and thrive on delivery, success and attention to
                detail. An excellent team player, who is also self-motivated and self-reliant, who strives to improve
                and develop
                designs and systems.</p>
            <p class="about-detail-description">Highly driven and motivated, I readily adapt to different situations
                and thrive on delivery, success and attention to
                detail. An excellent team player, who is also self-motivated and self-reliant, who strives to improve
                and develop
                designs and systems.</p>
            <p class="about-detail-description">Highly driven and motivated, I readily adapt to different situations
                and thrive on delivery, success and attention to
                detail. An excellent team player, who is also self-motivated and self-reliant, who strives to improve
                and develop
                designs and systems.</p>
        </div>
        <div class="col-12 about-detail-description-margin">
            <p class="title-header-2">Hobbies</p>
        </div>
        <div class="col-md-6 about-detail-description-margin">
            <ul class="about-list">
                <div class="row">
                    <div class="col-2">
                        <li><i class="fa-solid fa-book-open"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="about-detail-description">I enjoy writing and designing and I am currently compiling a
                            family historical book using programs such as Indesign, Photoshop and Illustrator. I
                            thoroughly enjoy the experience and challenge of learning new
                            programs and delivering satisfying results.
                        </p>
                    </div>
                    <div class="col-2">
                        <li><i class="fa fa-futbol"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="about-detail-description">I am a manager and player for Långholmen Football Club
                            playing both 11 aside and 7 aside throughout the year. I am also part of the board that
                            discusses the clubs future and planning for each season.
                        </p>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-md-6 about-detail-description-margin">
            <ul class="about-list">
                <div class="row">
                    <div class="col-2">
                        <li><i class="fa-solid fa-person-hiking"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="about-detail-description">I enjoy walking and trekking and have enjoyed many fantastic
                            climbs through out the world. Including Kilimanjaro in Tanzania and extensive treks around
                            the Himalaya's, Asia and
                            Scotland.
                        </p>
                    </div>
                    <div class="col-2">
                        <li><i class="fa-solid fa-person-running"></i></li>
                    </div>
                    <div class="col-10">
                        <p class="about-detail-description">I am an avid runner and gym enthusiast who enjoys the
                            challenge of Obstacle Course Racing. I have entered into competitions throughout Sweden and
                            United Kingdom, with the most gruelling being the Rat Race that consisted of running 30km
                            while tackling 200 obstacles.
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>

{% endblock %}